/* TO DO: 
fix open code link
unit conversion and styling
get better 'water' icon
move upsidedown icon
make 'search for cities w/ an upsidedown' tooltip
update copyright and socials
check accessibility, colour blindness
set attribute for alt text on icons in js:
weatherIconElement.setAttribute(
    "alt",
    `${response.data.weather[0].description}`
  );
make image a vector
Next time:
  finish predictions
  do write up
*/

body {
    height: 100%;
    background: linear-gradient(90deg, #BF6F7A 50%, #5C5C5C 50%);
} 


#search-area {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 125px;
}

.box {
    display: inline-block !important;
}

.col {
    color: white;
}

form {
    display: inline-block !important;
}

#left {
    transform: scale(-1,-1);
    max-width: 300px;
    padding: 20px;
    color: #444444;
}

.headline1 {
    display: block;
    text-align: left;
    padding-top: 20px;
    color: #444444;
    font-size: 22px;
}

.headline2 {
    display: block;
    color: white;
    font-size: 22px;
}


#middle {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    max-width: 120px;
}

#right {
    text-align: right;
    color:white;
    max-width: 300px;
    padding: 20px;
}


.form {
    background-color: #A9626C;/*#BF6F7A;*/
    border-bottom: 2px solid #5C5C5C;
    font-size: 12px;
    font-weight:lighter;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    float: left;
    padding-left: 6px;
    margin-right: 0px;
    margin-bottom: 2px;
    width: 180px;
    line-height: 18px;
}

.button {
    background-color: #DF96A0;
    float: left;
    border-top: none;
    border-left: none;
    border-right: 2px solid #5C5C5C;
    border-bottom: 2px solid #5C5C5C;
    color: #DF96A0;
    font-size: small;
    width: 24px;
    margin: 0 auto;
    line-height: 18px;

}

.button:hover {
    border: 1px solid #5C5C5C;
    }

#last-five-days {
    font-size: 12px;
    margin: 20px;
}

span #min { 
    padding: 0px;
    text-align: left;
}

#prediction {
 text-align: left;
}

span #max {
    font-weight: bold;
    padding: 5px;
    text-align: left;
}

.weather-row {
    display: block;
    text-align: left;
    font-size: 12px;
}

#lower {
    text-align: right;
    color:white;
    max-width: 300px;
    padding: 20px;
}

#name-temp {
    text-align: left;
}

.min-max-temps {
    padding: 5px;
}

img {
    height: 80px;
    width: 110px;
/* make image a vector */
}

.big {
    font-size: 36px;
    font-weight: bold;
}

.big-icon {
    font-size: 56px;
}

.footer {
    font-size: smaller;
    color: #444444;
}